<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — FreeDict</title>
<body>
  <header>
    <h1>FreeDict</h1>
    <nav>
      <ul class="nav navbar-nav">
		{% set root = site.get('/') %}
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Home</a></li>
          {% for page in root.children %}
		  <li{% if page == this %} class="active"{% endif %}
		  	><a href="{{ page|url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>

      <ul class="nav navbar-nav">
	    {% for alt in get_alts(this) %}
		  <li{% if this.alt == alt %} class="active"{% endif %}
		  ><a href="{{ '.'|url(alt=alt) }}">{{ alt }}</a></li>
		{% endfor %}
	  </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2016 by FreeDict Project.
  </footer>
</body>
